<!-- <ul class="list-group">
    <li class="list-group-item">product Name : {{product.productName}}</li>
    <li class="list-group-item">productBasePrice : {{product.productBasePrice}}</li>
    <li class="list-group-item">productGuid : {{product.productGuid}}</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul> -->

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum nulla atque soluta doloribus reprehenderit quasi, consectetur debitis aliquam minus alias porro fuga aperiam dolores rerum commodi laudantium eos repellat. Blanditiis!</p>