<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <mat-toolbar>
    <button (click)="sidenav.toggle()" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span><a routerLink="HomePage" style="text-decoration: none;color: black;">Book Appointment</a></span>
    <span class="example-spacer"></span>
    <!-- <div style="display: flex;">
      <input type="text"  ngModel #first="ngModel" name="" id="" class="form-control">
      <a routerLink="/Filter/Products/{{first.value}}" mat-stroked-button>
        <mat-icon>search</mat-icon>
      </a>
    </div> -->
    <button mat-stroked-button [matMenuTriggerFor]="menu">Settings</button>
    
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav mode="side" #sidenav>
      <img [src]="ImageSRC" style="height: 150px;border-radius: 100%;width: 150px;" alt="">
      <div style="padding: 30px;">
        <!-- <p>sa</p>/ -->
        <a routerLink="CreateProduct" style="text-decoration: none;">Book Appointment</a><br>
        <a routerLink="Profile" *ngIf="!LoginStatus" style="text-decoration: none;">Update Profile</a><br>
        <a routerLink="ManageProducts" *ngIf="!LoginStatus" style="text-decoration: none;">My Appointments</a><br>
        <button (click)="LogOut()" *ngIf="!LoginStatus" style="text-decoration: none;">Log out</button>
        <button  *ngIf="LoginStatus" (click)="openWindowCustomClass(content)" style="text-decoration: none;">Log In</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content opened style="max-height: 95%;">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
  <mat-menu #menu="matMenu">
    <button type="button" *ngIf="LoginStatus" (click)="openWindowCustomClass(content)" mat-menu-item>Login</button>
    <button type="button" *ngIf="!LoginStatus" mat-menu-item (click)="LogOut()">LogOut</button>
    <a routerLink="Register" *ngIf="LoginStatus" mat-menu-item>Register</a>
    <a routerLink="Profile" *ngIf="!LoginStatus" mat-menu-item>Profile</a>
  </mat-menu>

  <!--Login Model-->
  <ng-template #content let-modal>
    <div class="modal-body" style="width: 100%;">
      <form class="example-form" [formGroup]="LoginForm" (ngSubmit)="onFromsubmit()">
        <h1 style="text-align: center;">Login From</h1>
        <hr>
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Enter Email</mat-label>
            <input matInput type="email" formControlName="Email" placeholder="john Doe" required>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Enter Password</mat-label>
            <input matInput type="password" formControlName="Password" placeholder="" required>
          </mat-form-field>
        <div class="example-button-row" style="padding-bottom: 10px;">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  <!--End Login Model-->
</body>

</html>